* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  /* Define project wide font family and size in body selector */
}

.btn-main {
  width: 27rem;
  padding: 2.3rem 4rem;
  border: 2px solid #eb6222;
  position: relative;
  z-index: 5;
}
.btn-main p {
  position: relative;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  z-index: 15;
}
.btn-main img {
  display: inline-block;
  width: 2rem;
  height: auto;
  position: absolute;
  right: 4rem;
  z-index: 15;
  transition: right 0.25s ease-in;
}
.btn-main::before {
  content: " ";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #eb6222;
  z-index: 5;
  transition: width 0.25s ease-in;
}
.btn-main:hover img, .btn-main:active img {
  right: 3rem;
}
.btn-main:hover::before, .btn-main:active::before {
  width: 100%;
}

.btn-sec {
  color: black;
  background-color: white;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.25s ease-in;
}
.btn-sec:hover, .btn-sec:active {
  background-color: #eb6222;
  color: white;
  transition: all 0.25s ease-out;
}

.section__heading {
  font-size: 1.7rem;
  text-transform: uppercase;
  width: 50%;
  color: #eb6222;
  letter-spacing: 1.8px;
}
.section__heading p {
  display: inline-block;
}
.section__heading p:first-child {
  font-weight: 700;
  font-size: 1.6rem;
}
.section__heading p:first-child::after {
  content: " ";
  display: inline-block;
  width: 4.5rem;
  height: 1.5px;
  background-color: #eb6222;
  margin: 0.5rem 1.5rem;
}
.section__text {
  margin-top: 5rem;
  margin-left: 11rem;
}
.section__text-main {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.5;
}
.section__text-main.--invert {
  color: white;
}
.section__text-sub {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  font-weight: 300;
  margin-top: 3rem;
  line-height: 1.8;
  color: gray;
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}

.section-container {
  padding: 17rem 10rem;
  overflow: hidden;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 110vh;
}
.header__nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5.5rem 0rem;
  width: 100%;
}
.header__head {
  display: flex;
}
.header__logo {
  margin-right: 7rem;
  display: inline-block;
}
.header__logo img {
  width: 13rem;
  height: auto;
}
.header__nav-list {
  padding-top: 0.2rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list li {
  margin: 0 1.2rem;
}
.header__nav-link {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.15rem;
  line-height: 0.4px;
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.header__nav-link:hover, .header__nav-link:active {
  color: white;
}
.header__nav-link.--active {
  color: white;
}
.header__main {
  display: grid;
  margin-top: 7rem;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "heading video" "button button";
}
.header__heading {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.5;
  color: white;
  grid-area: heading;
  width: 90%;
}
.header__video {
  grid-area: video;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__video p {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.35rem;
  line-height: 0.4px;
  color: gray;
  transition: color 0.3s ease-in;
}
.header__video:hover .header__video-logo, .header__video:active .header__video-logo {
  background-color: #eb6222;
  transition: background-color 0.3s ease-out;
}
.header__video:hover p, .header__video:active p {
  color: white;
  transition: color 0.25s ease-out;
}
.header__video-logo {
  width: 2rem;
  height: 2rem;
  padding: 4.2rem;
  margin-bottom: 2.5rem;
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease-in;
}
.header__video-logo img {
  width: 2.4rem;
  height: auto;
}
.header__button {
  margin-top: 5rem;
  grid-area: button;
}
.header__social {
  position: absolute;
  right: 0%;
  top: 7%;
  margin-top: 2rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  width: 2rem;
  list-style: none;
}
.header__social-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 0.1rem;
}
.header__social-link i {
  margin: auto;
  width: 2rem;
  color: white;
}
.header__social-link:hover .header__social-text {
  font-size: 1.2rem;
  background-color: #151515;
  transition: font-size 0.25s ease-out;
}
.header__social-text {
  color: #eb6222;
  font-size: 0;
  padding: 1rem;
  margin-right: 3rem;
  background-color: rgba(0, 0, 0, 0);
  transition: font-size 0.25s ease-in;
}
.header__scroll {
  position: absolute;
  bottom: 10%;
  right: -2%;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transform: rotate(-90deg);
  cursor: pointer;
}
.header__scroll::after {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-left: 5rem;
  height: 1px;
  width: 15rem;
  background-color: rgba(128, 128, 128, 0.5);
}

.about__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "detail-1 detail-2" "detail-3 detail-4";
  margin-top: 9rem;
  grid-gap: 5rem;
}
.about__detail {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "icon name" "detail detail";
}
.about__detail img {
  grid-area: icon;
  align-self: center;
}
.about__detail h4 {
  grid-area: name;
  justify-self: start;
  align-self: center;
  font-weight: 500;
  font-size: 2.7rem;
}
.about__detail p {
  margin-top: 1.7rem;
  grid-area: detail;
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 400;
  color: rgba(21, 21, 21, 0.8);
}

.services {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/services-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.services * {
  position: relative;
}
.services__list {
  margin-top: 10rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "item-1 item-2 item-3" "item-4 item-5 item-6";
  grid-gap: 4rem 4rem;
}
.services__list-item h2 {
  font-size: 4.5rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  color: #eb6222;
}
.services__list-item h3 {
  font-size: 2.3rem;
  font-weight: 400;
  margin: 4rem 0 3rem 0;
}
.services__list-item p {
  font-size: 1.7rem;
  font-family: "Merriweather", serif;
  color: gray;
  line-height: 2;
}

.works__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 38rem;
}
.works__thumb {
  position: relative;
  overflow: hidden;
}
.works__thumb .btn-sec {
  position: absolute;
  left: -40%;
  bottom: 10%;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}
.works__thumb .btn-sec::before {
  content: " ";
  display: inline-block;
  position: absolute;
  left: -45%;
  bottom: 50%;
  width: 4.3rem;
  height: 1.5px;
  background-color: rgba(128, 128, 128, 0.6);
}
.works__thumb:hover .works__link::before, .works__thumb:active .works__link::before {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: all 0.3s ease-out;
}
.works__thumb:hover .works__link::after, .works__thumb:active .works__link::after {
  visibility: visible;
  font-size: 2rem;
  opacity: 1;
  transition: all 0.3s ease-in;
}
.works__thumb:hover .works__thumb-title, .works__thumb:active .works__thumb-title {
  visibility: visible;
  top: 10%;
  opacity: 1;
  transition: all 0.3s ease-in;
}
.works__thumb:hover .btn-sec, .works__thumb:active .btn-sec {
  left: 13%;
  z-index: 30;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in;
}
.works__link {
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
}
.works__link img {
  position: relative;
  z-index: 10;
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  object-position: center;
}
.works__link::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.works__link::after {
  content: "+";
  font-size: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.works__thumb-title {
  position: absolute;
  top: -10%;
  left: 10%;
  line-height: 1.5;
  z-index: 30;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.works__thumb-title h3 {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
}
.works__thumb-title h4 {
  font-size: 1.3rem;
  color: gray;
}

.messages h3 {
  font-size: 3.5rem;
  text-align: center;
  width: 100%;
}
.messages__slider {
  margin: 8rem 5rem;
  display: flex;
  overflow: hidden;
}
.messages__message {
  min-width: 43.5rem;
  margin-right: 14rem;
  position: relative;
}
.messages__message-icon {
  object-fit: cover;
  object-position: center;
  width: auto;
  height: 3rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.messages__message p {
  position: relative;
  width: 100%;
  margin-left: 15%;
  font-size: 1.8rem;
  line-height: 2;
  color: rgba(42, 42, 42, 0.8);
}
.messages__message-author {
  position: relative;
  display: flex;
  margin-top: 5%;
  margin-left: 17%;
}
.messages__message-author img {
  width: 7.5rem;
  height: auto;
  border-radius: 100%;
  position: relative;
}
.messages__message-author div h4 {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}
.messages__message-author div p {
  font-size: 1.4rem;
  margin-left: 2rem;
}

.clients {
  background-color: #2a2a2a;
}
.clients__grid {
  margin-top: 10rem;
  display: grid;
  grid-template-rows: 25rem 25rem;
  grid-template-columns: repeat(4, 1fr);
}
.clients__grid div {
  border: 1px solid rgba(128, 128, 128, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__grid div img {
  width: 13rem;
  transition: transform 0.2s linear;
  cursor: pointer;
}
.clients__grid div:nth-child(n+1):nth-child(-n+4) {
  border-top: none;
}
.clients__grid div:nth-child(n+5):nth-child(-n+8) {
  border-bottom: none;
}
.clients__grid div:nth-child(1), .clients__grid div:nth-child(5) {
  border-left: none;
}
.clients__grid div:nth-child(4), .clients__grid div:nth-child(8) {
  border-right: none;
}
.clients__grid div:hover img {
  transform: scale(1.2);
}

.counter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.6)), url("../../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 10rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter__count {
  text-align: center;
}
.counter h3 {
  color: white;
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: -1.5px;
}
.counter p {
  color: rgba(128, 128, 128, 0.55);
  line-height: 1.5;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/*# sourceMappingURL=style.css.map */
