//COLORS
$color-main: rgb(235, 98, 34);
$color-sec: rgb(3, 93, 92);

$color-white: rgb(255, 255, 255);

$color-black: rgb(0, 0, 0);
$color-lightBlack: rgb(42, 42, 42);

$color-darkGrey: rgb(21, 21, 21);
$color-grey: rgb(128, 128, 128);
