.about {
   &__details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
         "detail-1 detail-2"
         "detail-3 detail-4";
      margin-top: 9rem;
      grid-gap: 4rem 9rem;

      @media only screen and (max-width: 745px) {
         display: flex;
         flex-direction: column;
      }
   }

   &__detail {
      display: grid;
      grid-template-columns: 15% 85%;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
         "icon name"
         "detail detail";
      @media only screen and (max-width: 745px) {
         margin-bottom: 5rem;
      }

      img {
         grid-area: icon;
         align-self: center;
      }
      h4 {
         grid-area: name;
         justify-self: start;
         align-self: center;
         font-weight: 500;
         font-size: 2.7rem;
         @media only screen and (max-width: 1300px) {
            font-size: 3rem;
         }
         @media only screen and (max-width: 1090px) {
            margin-left: 2rem;
         }
         @media only screen and (max-width: 850px) {
            margin-left: 4rem;
         }
         @media only screen and (max-width: 745px) {
            margin-left: 0;
            font-size: 3.5rem;
         }
      }
      p {
         margin-top: 1.7rem;
         grid-area: detail;
         font-family: "Merriweather", serif;
         font-size: 2rem;
         line-height: 1.75;
         color: rgba($color-black, 0.7);
         @media only screen and (max-width: 745px) {
            font-size: 2.5rem;
         }
      }
   }
}
