.counter {
   background-image: linear-gradient(
         rgba($color-black, 0.65),
         rgba($color-black, 0.6)
      ),
      url("../../images/hero-bg.jpg");
   background-size: cover;
   background-position: center;
   padding: 10rem 10rem;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @media only screen and (max-width: 745px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
         "count-1 count-2"
         "count-3 count-4";
      justify-items: center;
      align-items: center;
      grid-gap: 5rem;
   }

   &__count {
      text-align: center;
      width: 50%;
      @media only screen and (max-width: 745px) {
         width: 100%;
      }
   }

   h3 {
      color: $color-white;
      font-size: 9rem;
      font-weight: 400;
      letter-spacing: -1.5px;
   }
   p {
      color: rgba($color-grey, 0.55);
      line-height: 1.5;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1.5px;
   }
}
