.footer {
   background-color: $color-darkGrey;
   padding: 14rem 10rem 7rem;
   overflow: hidden;

   &__about {
      display: flex;
      justify-content: space-between;
      color: $color-white;
      margin: 17rem 13rem 17rem auto;
      flex-wrap: wrap;

      @media only screen and (max-width: 960px) {
         margin: 15rem 5rem 15rem auto;
      }

      @media only screen and (max-width: 745px) {
         margin: 12rem 4rem 12rem auto;
         flex-direction: column;
      }

      div {
         font-size: 3rem;
         line-height: 1.5;

         @media only screen and (max-width: 745px) {
            margin-top: 5rem;
         }

         &:nth-child(1) {
            width: 43rem;
         }

         h4 {
            color: rgba($color-grey, 0.8);
            font-size: 1.7rem;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1.5px;
            margin-bottom: 5rem;
            @media only screen and (max-width: 960px) {
               margin-bottom: 3rem;
            }
            @media only screen and (max-width: 745px) {
               font-size: 2.2rem;
            }
         }

         a {
            color: $color-white;
            text-decoration: none;
            display: block;
         }

         @media only screen and (max-width: 960px) {
            font-size: 2.5rem;
         }
         @media only screen and (max-width: 745px) {
            font-size: 3rem;
         }
      }
   }

   &__connect {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 90%;

      @media only screen and (max-width: 745px) {
         flex-direction: column;
         align-items: flex-start;
      }

      .btn-main {
         position: relative;
      }

      &::before {
         content: " ";
         display: inline-block;
         position: absolute;
         width: 15rem;
         top: -5rem;
         height: 0.1rem;
         background-color: rgba($color-grey, 0.5);
      }
   }

   &__form {
      color: $color-white;
      position: relative;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 745px) {
         margin-top: 12.5rem;
      }

      h3 {
         color: rgba($color-grey, 0.5);
         font-size: 1.8rem;
         text-transform: uppercase;
         letter-spacing: 1.5px;
         position: absolute;
         top: -6rem;
      }

      &-email {
         width: 40rem;
         height: 6rem;
         background-color: rgba($color-black, 0.2);
         border: none;
         caret-color: $color-white;
         padding: 2rem;
         font-weight: 400;
         color: $color-white;
         letter-spacing: 1.2px;

         font-size: 1.6rem;

         @media only screen and (max-width: 745px) {
            width: 45rem;
            padding: 4rem;
            height: 8rem;
            font-size: 2.2rem;
         }

         &:active,
         &:focus {
            border: none;
            outline: none;
         }

         &::placeholder {
            color: rgba($color-grey, 0.5);
            font-size: 1.6rem;
            @media only screen and (max-width: 745px) {
               font-size: 2.2rem;
            }
         }
      }

      &-submit {
         width: auto;
         height: 6rem;
         font-size: 1.3rem;
         font-weight: 400;
         text-transform: uppercase;
         letter-spacing: 2px;
         border: none;
         padding: 2rem;
         background-color: $color-main;
         color: $color-white;
         cursor: pointer;

         @media only screen and (max-width: 745px) {
            height: 8rem;
            font-size: 1.9rem;
         }

         &:active,
         &:focus {
            border: none;
            outline: none;
         }
      }
   }

   &__end {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20rem;
      position: relative;
   }

   &__copy {
      color: rgba($color-grey, 0.5);
      font-size: 1.5rem;

      @media only screen and (max-width: 745px) {
         font-size: 2rem;
         margin: 10rem auto auto auto;
      }

      a {
         color: $color-white;
         text-decoration: none;
      }

      &::before {
         content: " ";
         display: inline-block;
         position: absolute;
         width: 100vw;
         height: 0.1rem;
         left: -10rem;
         top: -1.5rem;
         background-color: rgba($color-grey, 0.2);
      }
   }

   &__back {
      position: absolute;
      top: -1.5rem;
      right: -4rem;

      @media only screen and (max-width: 745px) {
         right: 50%;
         transform: translateX(50%);
      }

      div {
         background-color: $color-black;
         padding: 2rem 2.5rem;

         @media only screen and (max-width: 745px) {
            padding: 2.6rem 3.3rem;
         }

         img {
            width: 1rem;
            height: auto;

            @media only screen and (max-width: 745px) {
               width: 1.8rem;
            }
         }
      }

      &::before {
         content: " ";
         display: inline-block;
         position: absolute;
         width: 11rem;
         height: 0.1rem;
         top: -7rem;
         right: -2.3rem;
         background-color: rgba($color-grey, 0.2);
         transform: rotate(90deg);
         @media only screen and (max-width: 745px) {
            display: none;
         }
      }

      &::after {
         content: "Back to Top";
         display: inline-block;
         position: absolute;
         text-decoration: none;
         color: rgba($color-grey, 0.3);
         font-size: 1.3rem;
         letter-spacing: 1.4px;
         text-transform: uppercase;
         top: -21rem;
         right: -2.3rem;
         transform: rotate(-90deg);
         width: 11rem;

         @media only screen and (max-width: 850px) {
            width: 13rem;
            right: -3.2rem;
         }
         @media only screen and (max-width: 745px) {
            display: none;
         }
      }
   }
}
