.header {
   background-image: linear-gradient(
         rgba($color-black, 0.65),
         rgba($color-black, 0.65)
      ),
      url("../../images/hero-bg.jpg");
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;
   min-height: 90rem;
   z-index: 1;

   &__nav {
      opacity: 1;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2rem 0rem;
      width: 100%;
      background-color: transparent;
      transition: all 0.7s ease;
      z-index: 500;

      &.fixed {
         opacity: 1;
         justify-content: center;
         position: fixed;
         top: 0;
         left: 0;
         background-color: $color-black;
         z-index: 500;
         padding: 1.4rem 0rem;
         transition: all 0.7s ease;

         .header__head {
            width: 100%;
            justify-content: space-between;
            padding: 0 10rem;
            transition: all 0.7s ease;
         }
      }
   }

   &__head {
      display: flex;
      transition: all 0.7s ease;
      position: relative;

      @media only screen and (max-width: 620px) {
         width: 100%;
         justify-content: space-between;
      }
   }

   &__logo {
      margin-right: 7rem;
      display: inline-block;
      img {
         width: 13rem;
         height: auto;
         @media only screen and (max-width: 1300px) {
            width: 15rem;
         }
         @media only screen and (max-width: 745px) {
            width: 18rem;
         }
      }
   }

   &__small-nav {
      display: none;
      @media only screen and (max-width: 620px) {
         display: flex;

         h3 {
            line-height: 1.6;
            margin-left: auto;
            font-size: 3.5rem;
            color: $color-white;
            text-transform: uppercase;
            font-weight: 200;
         }

         div {
            position: relative;
            margin: auto 0 auto 1rem;

            div {
               width: 6.5rem;
               height: 2px;
               background-color: white;
               transition: all 1s ease;
            }

            div:nth-child(1) {
               position: absolute;
               top: -11px;
            }

            div:nth-child(3) {
               position: absolute;
               bottom: -11px;
            }
         }
         &:hover {
            div {
               div:nth-child(1) {
                  transform: rotate(225deg);
                  top: 0;
               }
               div:nth-child(2) {
                  opacity: 0;
               }
               div:nth-child(3) {
                  transform: rotate(315deg);
                  bottom: 0;
               }
            }
         }
      }
   }

   &__nav-list {
      padding-top: 0.2rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
         margin: 0 1.2rem;
      }

      @media only screen and (max-width: 620px) {
         display: none;
      }
   }

   &__nav-link {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-size: 1.15rem;
      line-height: 0.4px;
      color: $color-grey;
      text-decoration: none;
      transition: color 0.25s ease-in;

      @media only screen and (max-width: 1300px) {
         font-size: 1.4rem;
      }
      @media only screen and (max-width: 745px) {
         font-size: 1.8rem;
      }

      &:hover,
      &:active {
         color: $color-white;
      }

      &.--active {
         color: $color-white;
      }
   }

   &__main {
      height: 70vh;
      min-height: 55%;
      display: grid;
      margin: 7% 0;
      grid-template-columns: 2fr 1fr;
      grid-template-areas:
         "heading video"
         "button button";
      transform: translateY(15rem);
      opacity: 0;
      z-index: -999;

      transition: transform 1s linear, opacity 2.5s ease;

      @media only screen and (max-width: 1170px) {
         grid-template-columns: repeat(4, 1fr);
         grid-template-areas:
            "heading heading heading heading"
            "button video empty empty";
      }
   }
   &__heading {
      font-size: 6rem;
      font-weight: 500;
      line-height: 1.5;
      color: $color-white;
      grid-area: heading;
      margin: auto 0;
      width: 90%;

      @media only screen and (max-width: 1170px) {
         width: 65%;
      }
      @media only screen and (max-width: 1090px) {
         width: 70%;
         font-size: 6.5rem;
      }
      @media only screen and (max-width: 960px) {
         width: 75%;
      }
      @media only screen and (max-width: 795px) {
         width: 80%;
      }
      @media only screen and (max-width: 795px) {
         width: 95%;
         font-size: 7.5rem;
      }
      @media only screen and (max-width: 690px) {
         font-size: 6.8rem;
      }

      @media only screen and (min-width: 1400px) {
         font-size: 5.7rem;
      }
   }

   &__video {
      grid-area: video;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      @media only screen and (max-width: 1170px) {
         flex-direction: row;
         width: 100%;
         align-items: center;
         justify-content: center;
         height: min-content;
         margin: 0;
         margin-top: -0.7rem;
      }
      @media only screen and (max-width: 850px) {
         margin-left: 2rem;
      }
      @media only screen and (max-width: 795px) {
         margin-left: 4rem;
      }
      @media only screen and (max-width: 745px) {
         align-items: flex-start;
         justify-content: start;
         margin-left: 11rem;
         margin-top: -1rem;
      }
      @media only screen and (max-width: 690px) {
         margin-left: 15rem;
      }

      p {
         font-weight: 800;
         text-transform: uppercase;
         letter-spacing: 0.3rem;
         font-size: 1.35rem;
         line-height: 0.4px;
         color: $color-grey;
         transition: color 0.3s ease-in;

         @media only screen and (max-width: 1170px) {
            margin-left: 2rem;
            font-size: 1.5rem;
         }
         @media only screen and (max-width: 745px) {
            display: none;
         }
      }

      &:hover &-logo,
      &:active &-logo {
         background-color: $color-main;
         transition: background-color 0.3s ease-out;
      }

      &:hover p,
      &:active p {
         color: $color-white;
         transition: color 0.25s ease-out;
      }
   }

   &__video-logo {
      width: 2rem;
      height: 2rem;
      padding: 4.2rem;
      margin-bottom: 2.5rem;
      background-color: rgba($color-grey, 0.25);
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 1170px) {
         margin-bottom: 0;
         padding: 3.8rem;
      }
      @media only screen and (max-width: 850px) {
         padding: 3.6rem;
      }
      @media only screen and (max-width: 745px) {
         padding: 4.5rem;
      }

      transition: background-color 0.25s ease-in;

      img {
         width: 2.4rem;
         height: auto;

         @media only screen and (max-width: 1170px) {
            width: 2.2rem;
         }
         @media only screen and (max-width: 745px) {
            width: 2.7rem;
         }
      }
   }

   &__button {
      margin: 0;
      grid-area: button;
   }

   &__social {
      position: absolute;
      right: 0%;
      top: 7%;
      margin-top: 2rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: 2rem;
      width: 2rem;
      list-style: none;
      @media only screen and (max-width: 745px) {
         display: none;
      }

      @media only screen and (max-width: 1300px) {
         margin-top: 3.5rem;
      }

      @media only screen and (max-width: 960px) {
         right: 1%;
         margin-top: 5rem;
      }
   }

   &__social-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 0.1rem;

      i {
         margin: auto;
         width: 2rem;
         color: $color-white;

         @media only screen and (max-width: 1300px) {
            font-size: 2.4rem;
         }
         @media only screen and (max-width: 1090px) {
            font-size: 2.6rem;
         }
         @media only screen and (max-width: 850px) {
            font-size: 2.45rem;
         }
      }

      &:hover .header__social-text {
         font-size: 1.2rem;
         background-color: rgba($color-darkGrey, 1);

         transition: font-size 0.25s ease-out;
         @media only screen and (max-width: 1300px) {
            font-size: 1.4rem;
         }
         @media only screen and (max-width: 850px) {
            font-size: 1.6rem;
         }
      }
   }

   &__social-text {
      color: $color-main;
      font-size: 0;
      padding: 1rem;
      margin-right: 3rem;
      background-color: rgba(0, 0, 0, 0);
      transition: font-size 0.25s ease-in;
   }

   &__scroll {
      position: absolute;
      bottom: 10%;
      right: -2%;
      color: $color-white;
      font-size: 1.2rem;
      letter-spacing: 4px;
      text-decoration: none;
      text-transform: uppercase;
      transform: rotate(-90deg);
      cursor: pointer;
      @media only screen and (max-width: 745px) {
         font-size: 1.5rem;
      }

      &::after {
         content: " ";
         display: inline-block;
         position: absolute;
         top: 50%;
         margin-left: 5rem;
         height: 1px;
         width: 15rem;
         background-color: rgba($color-grey, 0.5);

         @media only screen and (max-width: 745px) {
            display: none;
         }
      }
   }
}
