.messages {
   overflow: hidden;

   h3 {
      font-size: 3.5rem;
      text-align: center;
      width: 100%;
   }

   &__slider {
      margin: 8rem 5rem;
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap;
      width: 200%;
      position: relative;

      &-icons {
         position: relative;
         cursor: pointer;
         a {
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: $color-grey;
            position: absolute;
            border-radius: 100%;
            &.active {
               background-color: $color-black;
            }

            @media only screen and (max-width: 1090px) {
               width: 10.5px;
               height: 10.5px;
            }
            @media only screen and (min-width: 1400px) {
               width: 12px;
               height: 12px;
            }
         }

         a:nth-child(1) {
            top: -2rem;
            left: 48%;
         }
         a:nth-child(2) {
            top: -2rem;
            left: 50%;
            @media only screen and (max-width: 1090px) {
               left: 51%;
            }
         }
         a:nth-child(3) {
            top: -2rem;
            left: 52%;
            @media only screen and (max-width: 1090px) {
               left: 54%;
            }
         }
      }
   }

   &__message {
      margin-right: 10rem;
      position: relative;
      transition: all 0.5s cubic-bezier(0.17, 0.67, 0.13, 1.17),
         opacity 0.3s ease;
      flex-basis: 21%;

      @media only screen and (max-width: 1300px) {
         margin-right: 12rem;
      }
      @media only screen and (max-width: 1170px) {
         margin-right: 13rem;
      }
      @media only screen and (max-width: 960px) {
         margin-right: 14rem;
      }
      @media only screen and (max-width: 850px) {
         margin-right: 14.7rem;
      }

      &-icon {
         object-fit: cover;
         object-position: center;
         width: auto;
         height: 3rem;
         display: inline-block;
         position: absolute;
         left: 0;
         top: 0;
      }

      p {
         position: relative;
         width: 100%;
         margin-left: 15%;
         font-size: 1.8rem;
         line-height: 2;
         color: rgba($color-lightBlack, 0.8);
         @media only screen and (max-width: 960px) {
            font-size: 1.6rem;
         }
      }

      &-author {
         position: relative;
         display: flex;
         margin-top: 5%;
         margin-left: 17%;

         img {
            width: 7.5rem;
            height: auto;
            border-radius: 100%;
            position: relative;
         }

         div {
            h4 {
               margin-top: 2rem;
               margin-left: 2rem;
               font-size: 1.6rem;
            }
            p {
               font-size: 1.4rem;
               margin-left: 2rem;
            }
         }
      }
   }
}
