.services {
   position: relative;
   overflow: hidden;
   background-image: linear-gradient(
         rgba($color-black, 0.5),
         rgba($color-black, 0.5)
      ),
      url("../../images/services-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   * {
      position: relative;
   }

   &__list {
      margin-top: 10rem;
      color: $color-white;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
         "item-1 item-2 item-3"
         "item-4 item-5 item-6";

      grid-gap: 4rem 4rem;

      @media only screen and (max-width: 1300px) {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         grid-template-areas:
            "item-1 item-2"
            "item-3 item-4"
            "item-5 item-6";
      }

      @media only screen and (max-width: 1090px) {
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         grid-template-areas:
            "item-1 item-2"
            "item-3 item-4"
            "item-5 item-6";
      }
   }

   &__list-item {
      h2 {
         font-size: 4.5rem;
         font-family: "Merriweather", serif;
         font-weight: 800;
         color: $color-main;
      }
      h3 {
         font-size: 2.3rem;
         font-weight: 400;
         margin: 4rem 0 3rem 0;
      }
      p {
         font-size: 1.8rem;
         font-family: "Merriweather", serif;
         color: $color-grey;
         line-height: 2;

         @media only screen and (max-width: 1170px) {
            font-size: 1.9rem;
         }
      }
   }
}
