* {
   margin: 0;
   padding: 0;
   box-sizing: inherit; //from body element
}
html {
   font-size: 10px; //defines 1rem everywhere as 10px
   // scroll-behavior: smooth;

   @media only screen and (max-width: 1300px) {
      font-size: 9.5px;
   }

   @media only screen and (max-width: 1170px) {
      font-size: 9px;
   }

   @media only screen and (max-width: 1090px) {
      font-size: 8px;
   }

   @media only screen and (max-width: 960px) {
      font-size: 7.5px;
   }

   @media only screen and (max-width: 850px) {
      font-size: 7px;
   }
   @media only screen and (max-width: 745px) {
      font-size: 6.5px;
   }
   @media only screen and (max-width: 620px) {
      font-size: 6px;
   }

   @media only screen and (min-width: 1400px) {
      font-size: 12px;
   }

   @media only screen and (min-width: 1700px) {
      font-size: 13px;
   }

   @media only screen and (min-width: 1900px) {
      font-size: 14px;
   }
}
body {
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
   /* Define project wide font family and size in body selector */
}
