* {
   margin: 0;
   padding: 0;
   box-sizing: inherit; //from body element
}
html {
   font-size: 10px; //defines 1rem everywhere as 10px
   // scroll-behavior: smooth;

   @media (min-width: 1400px) {
      font-size: 11px;
   }

   @media (min-width: 1700px) {
      font-size: 12px;
   }

   @media (min-width: 1900px) {
      font-size: 13px;
   }
}
body {
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
   /* Define project wide font family and size in body selector */
}
