* {
   margin: 0;
   padding: 0;
   box-sizing: inherit; //from body element
}
html {
   font-size: 62.5%; //defines 1rem everywhere as 10px
   // scroll-behavior: smooth;
}
body {
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
   transition: padding-top 0.1s ease;
   /* Define project wide font family and size in body selector */
}
